@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slidein {
  0% { left: -2000px; opacity: 0; }
  100% { left: 10px; opacity: 1; }
}

@-webkit-keyframes slidein {
  0% { left: -2000px; opacity: 0; }
  100% { left: 10px; opacity: 1; }
}

html {
  height: 100%;

  /* background-image: url('https://raw.githubusercontent.com/yurafuca/yurafuca.com/master/river.gif'); */
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000008;
}

body {
	font-family: 'Source Code Pro', monospace;
  color: white;
  height: 100%;
  margin: 0;

  background-image: url('dot.png');
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: black;
}

a:hover {
  color: #777;
}

li {
  padding: 2px 0;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

section {
  position: absolute;
  width: 280px;

  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* Safari用 */
  transform: translate(-50%, -50%);

  color: black;
  padding: 1px 21px 11px 21px;
  background-color: rgba(255,255,255,1.0);

  animation: fadein 3.0s;
  -webkit-animation: fadein 3.0s;
}

#content {
  height: 100%;
  position: relative;
}

#switch_wallpaper {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  background-image: url('skip.png');
  background-size: contain;
  
  animation: sliein 3.0s;
  -webkit-animation: slidein 3.0s;
  
  cursor: pointer;
}

#switch_wallpaper:hover {
  filter: invert(30%);
}

#switch_wallpaper:active {
  filter: invert(50%);
}

#track {
  position: absolute;
  /*top: 84px;*/
  top: 91px;
  /*left: 26px;*/
  left: 31px;
}


#wallpaper {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -10;
  background: url(dot.png) no-repeat;
  background-size: cover;
}