@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    left: -2000px;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: -2000px;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

html {
  height: 100%;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000008;
}

body {
  font-family: "Source Code Pro", monospace;
  color: white;
  height: 100%;
  margin: 0;
  background-image: url("../images/dot.png");
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  position: relative;
  left: -55px;
  cursor: default;
}

h1 {
  font-size: 2em;
  color: white;
  width: 285px;
  padding-left: 10px;
  left: -7px;
  padding-bottom: 6px;
  padding-top: 3px;
}

h2 {
  font-size: 1.5em;
  width: 190px;
  padding-bottom: 2px;
  padding-top: 1px;
}

h1::before {
  content: "#";
  margin-right: 12px;
}

h2::before {
  content: "##";
  margin-right: 12px;
}

.black {
  background: black;
  color: white;
}

.cyan {
  background: #00ffff;
  color: black;
}

.pink {
  background: #ff00ff;
  color: white;
}

.yellow {
  background: yellow;
  color: black;
}

a {
  color: black;
}

a:hover {
  color: #777;
}

li {
  padding: 2px 0;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

section {
  width: 280px;
  color: black;
  padding: 1px 21px 11px 21px;
  background-color: rgba(255, 255, 255, 1);
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

#switch_wallpaper {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  background-image: url("../images/skip.png");
  background-size: contain;
  animation: sliein 3s;
  -webkit-animation: slidein 3s;
  cursor: pointer;
}

#switch_wallpaper:hover {
  filter: invert(30%);
}

#switch_wallpaper:active {
  filter: invert(50%);
}

#track {
  position: absolute;
  top: 91px;
  left: 31px;
}

#wallpaper {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  background: url(../images/dot.png) no-repeat;
  background-size: cover;
}
