@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    left: -2000px;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  0% {
    left: -2000px;
    opacity: 0;
  }
  100% {
    left: 10px;
    opacity: 1;
  }
}

html {
  height: 100%;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000008;
}

body {
  font-family: "Zilla Slab", monospace;
  color: white;
  background: white;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  position: relative;
  cursor: default;
}

h1 {
  font-size: 2em;
  width: fit-content;
  font-weight: bold;
  font-family: "Zilla Slab";
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
  width: 190px;
  padding-bottom: 2px;
  padding-top: 1px;
}

h1::before {
  content: "://";
  margin-right: 0px;
}

.black-back {
  background:black;
  color: white;
}

.cyan-back {
  background: #00FFFF;
}

.cyan-text {
  color: #00FFFF;
}

.pink-back {
  background: #FA8CFF;
}

.pink-text {
  color: #FA8CFF;
}

.yellow-back {
  background: #FFEE00;
}

.yellow-text {
  color: #FFEE00;
}

.elephant-letter {
  padding-bottom: 2px;
  display: inline-block;
  line-height: 1.1em;
}

.elephant-letter.colored-back {
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 3px;
}

.big-letter {
  /* font-size: 1.1em; */
  padding: 0 2px;
  margin-right: 3px;
  font-weight: 500;
  display: inline-block;
  line-height: 1.0em;
}

.big-letter.colored-back {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
}

a {
  text-decoration: none !important;
  color: black;
}

a:hover {
  color: #777;
}

ul {
  padding-inline-start: 0;
  font-size: 1.15em;
}

li {
  list-style: none;
  padding: 2px 0;
}

li:first-child {
  padding-top: 0;
}

li:last-child {
  padding-bottom: 0;
}

section {
  width: 280px;
  color: black;
  padding: 1px 21px 11px 21px;
  background-color: rgba(255, 255, 255, 1);
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}

#switch_wallpaper {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
  background-image: url("../images/skip.png");
  background-size: contain;
  animation: sliein 3s;
  -webkit-animation: slidein 3s;
  cursor: pointer;
}

#switch_wallpaper:hover {
  filter: invert(30%);
}

#switch_wallpaper:active {
  filter: invert(50%);
}

#track {
  position: absolute;
  top: 91px;
  left: 31px;
}

#wallpaper {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -10;
  background: url(../images/dot.png) no-repeat;
  background-size: cover;
}

.at {
  margin: 0 5px;
}
